/*https://colorhunt.co/palette/eadeb8cfb784c56824a09f57*/
body{
    background-color: #EADEB8;
	font-family: 'Candara','sans-serif';
	font-weight: 300;
    margin: 0;
    font-size: 22px;
}
nav.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
nav ul{
    list-style: none;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #C56824;
    padding: 0.5rem 2rem;
}
#home
{
    background: #c7b691;
    color: floralwhite;
    background-image: url(../img/bghome.png);
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 0;
}
h1, h2{
    text-align: center;
}
h1{
    font-size: 60px;
    text-transform: uppercase;
}
h2{
    font-size: 50px;
}
.logo{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5% 0;
}
.logo img{
    width: 70px;
}
h3{
    color: #7c7c42;
}
#about, #skills{
    padding: 10% 10%;
    height: 80vh;
}
#about img{
    height: 40vh;
    width: auto;
}
.profil{
    padding: 0 15%;
}
.contact{
    text-align: center;
    margin: 5%;
}
.contact button{
    border-radius: 5px;
    background-color: #C56824;
    font-size: 22px;
    border: none;
}
.contact button:hover{
    background-color: #8b532b;
}
.modal-dialog {
    margin: 20rem auto;
}
.competences{
    display: table;
    width: 80%;
}
.competence{
    display: table-cell;
}
.competence p{
    margin: 10% 0;
    font-size: 22px;
}
meter{
    width: 50%;
}
@media (max-width:900px){
    #home{
        padding-top: 30%;
    }
    #about{
        margin: 10% 10%;
    }
    p{
        font-size: 22px;
    }
    .profil{
        padding: 0;
    }
    .contact{
        padding: 5% 10%;
    }
    .contact button{

    }
    .competence{
        display: block;
    }
}